@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/animations";

.masters {
  margin-top: 80px;

  animation: fadeInUp 2s forwards;

  > h2 {
    text-align: center;
  }
}

.list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 60px;
}
