@import "../../../assets/styles/_variables.scss";

.masters {
  margin-top: 80px;
}

.title {
  font-family: $extra-font;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 60px;
}
