@import "../../../assets/styles/_variables.scss";
@import "../../../assets/styles/animations";

.masters {
  margin-top: 80px;
  @media (max-width: 650px) {
    margin-top: 40px;
  }

  animation: fadeInUp 2s forwards;

  > h2 {
    text-align: center;
  }
}

.list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 60px;

  @media (max-width: 1325px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  @media (max-width: 900px) {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
