.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > a {
    display: flex;
    align-items: center;
  }
}

.menuMobile {
  display: none;
}

@media (max-width: 500px) {
  .menuFull {
    display: none;
  }
  .menuMobile {
    display: block;
  }
}
