.priceList {
  margin-top: 80px;
  gap: 25px;
  @media (max-width: 650px) {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.priceItem {
  max-width: 526px;
  width: 100%;
}

.left {
  order: -1;
}

.right {
  order: 1;
  @media (max-width: 650px) {
    order: -1;
  }
}
