.ourWorks {
  margin-top: 168px;
  text-align: center;
}

.variants {
  margin-top: 80px;

  & > button:not(:last-child) {
    margin-right: 60px;
  }
}

.works {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
