@import "../../../assets/styles/_variables.scss";

.title {
  font-family: $extra-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 25px;
}

.item {
  font-size: 18px;
  line-height: 130%;

  &:not(:first-child) {
    margin-top: 15px;
  }
}
