@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/animations";

.aside {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 79px;
  border-left: 1px solid $white-opacity;

  width: 475px;
  @media (max-width: 500px) {
    width: 100%;
    padding: 0px 50px;
  }
  @media (max-width: 300px) {
    padding: 0px 25px;
  }

  height: 1038px;
  background-color: $black;

  opacity: 0;
  animation: opacity 2.5s forwards, slide 2s;
  animation-delay: 2s;

  &_show {
    visibility: visible;
  }

  &_hide {
    visibility: hidden;
  }

  > button {
    position: absolute;
    top: 42px;
  }

  > div {
    > p {
      margin-bottom: 80px;
      font-size: 18px;
    }

    > div:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}
