@import "../../../assets/styles/animations";

.contacts {
  margin-top: 80px;
  animation: fadeInUp 2s forwards;

  > h2 {
    text-align: center;
    margin-bottom: 80px;
  }

  > div {
    margin-top: 80px;

    display: flex;
    justify-content: space-between;
    > div {
      width: 250px;
    }
  }
}
