@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap&subset=cyrillic-ext");

$accent: #cdaa7d;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.5);
$black: #000000;

$main-font: "Cormorant Garamond", serif;
$extra-font: "EB Garamond", serif;
