@import "../../../assets/styles/_variables.scss";

.caption {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.title {
  margin-top: 20px;
  font-family: $extra-font;
  font-size: 30px;
  &_small {
    font-size: 27px;
  }

  @media (max-width: 650px) {
    font-size: 25px;
    &_small {
      font-size: 18px;
    }
  }
}

.subTitle {
  margin-top: 10px;
  font-size: 18px;
  @media (max-width: 650px) {
    margin-top: 6px;
    font-size: 15px;
  }
}
